<section class="articles">
            <div class="column is-8 is-offset-2">
<!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{ quote.title }}</p>
                                <p class="subtitle is-6 article-subtitle">
                                    Posted on {{ quote.timestamp}}
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>{{ quote.body }}</p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
</div>
</section>
