<div class="column is-8 is-offset-2">
    <div class="card">
        <div class="card-content">

                <div class="has-text-centered">
                    <h1 class="title">{{ quote.title }}</h1>
                    <p class="subtitle is-6 has-text-weight-light">
                        {{ moment(quote.timestamp).calendar() }}
                    </p>
                </div>

            <br>
            <br>

            <div class="content">
                <p class="has-text-centered is-italic is-size-5">
                    <q>{{ quote.body }}</q>
                </p>
                <p class="has-text-centered has-text-weight-semibold">{{ quote.by }}</p>
            </div>

        </div>
    </div>
</div>

